body,html{
    height: 100%;
    margin:0%
}
.bg{
    background-image: url(backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

h1{ 
    font-size: 40px;
    color:white;
    text-align: center;
    
} 
h2{
    font-size: 20px;
    color:white;
    text-align: center;
}
h3{
    font-size: 20px;
    color:red;
    text-align: center
}

h4{
    font-size:25px;
    color:gray

}
p{
    font-size: 20px;
    color:white;
    text-align: left;
}

}
p{ font-size: 20px;
    color:antiquewhite

}
a{ 
    text-decoration:none;
    color:beige;
    text-align: center;

}

a:visited{
    background-color:white;
    text-align: center;
}

a:hover{

text-decoration:underline;
    text-decoration-style: solid;
        text-decoration-color:red;
        text-align: center;
}

a:active{
    background-color: red;
}


 