body,html{
    height: 100%;
    margin:0%
}
.bg{
    background-image: url(../imagens/backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
.texto-centralizado{
    text-align: center;
    font-size: larger;
    font: bold;

}

h1{ 
    font-size: 40px;
    color:black;
    text-align: center;
    
} 
h2{
    font-size: 20px;
    color:black;
    text-align: center;
}
h3{
    font-size: 20px;
    color:red;
    text-align: center
}

h4{
    font-size:25px;
    color:black

}
p{
    font-size: 20px;
    color:black;
    text-align: left;
}

}
p{ font-size: 20px;
    color:antiquewhite

}
a{ 
    text-decoration:none;
    color:beige;
    text-align:justify
}

<a :visited> {
    background-color:white;
    text-align: center;
}</a>

a:hover{

text-decoration:underline;
    text-decoration-style: solid;
        text-decoration-color:red;
        text-align: center;
}

a:active{
    background-color: red;
}

 
article{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 2px;
    flex-basis: 30%;

}
.container{
    display:flex;
    flex-wrap: wrap;
    
}

.img{
    width: 300px;
    height: auto;
    border-radius: 50%;
    alt="Trupe mais um sorriso - Resende Rj"
}

